{% extends "base/aplicacion.html" %}

{% block title %}Profesores{% endblock title %}
{%block title_body%}<h2>Profesores</h2>{%endblock title_body%}
{%block body%}
<!-- datatable de los profesores con los datos id, nombre, alias -->
<div class="" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Lista de Grados</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla_grados" class="table">
                    <thead class=" text-primary">
                        <th>
                            ID
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Alias
                        </th>
                        <th>
                            Activo
                        </th>
                        <th>
                            Acciones
                        </th>
                    </thead>
                    <tbody>
                        {% for grado in Grados %}
                        <tr>
                            <td>
                                {{grado.id}}
                            </td>
                            <td>
                                {{grado.nombre}}
                            </td>
                            <td>
                                {{grado.alias}}
                            </td>
                            <td>
                                {% if grado.activo == True %}
                                <span class="badge badge-success">Activo</span>
                                {% else %}
                                <span class="badge badge-danger">Inactivo</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{grado.id}}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                <a href="{{grado.id}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Lista de Materias</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla_materias" class="table ">
                    <thead class=" text-primary">
                        <th>
                            ID
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Grado
                        </th>
                        <th>
                            Activo
                        </th>
                        <th>
                            Acciones
                        </th>
                    </thead>
                    <tbody>
                        {% for materia in Materias %}
                        <tr>
                            <td>
                                {{materia.id}}
                            </td>
                            <td>
                                {{materia.nombre}}
                            </td>
                            <td>
                                {{materia.grado}}
                            </td>
                            <td>
                                
                                {% if materia.activo == True %}
                                <span class="badge badge-success">Activo</span>
                                {% else %}
                                <span class="badge badge-danger">Inactivo</span>
                                {% endif %}
                            <td>
                                <a href="{{materia.id}}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                <a href="{{materia.id}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form  method="POST">
    {% csrf_token %}
    <input type="hidden" name="tipo" value="grado">
    {{ form_grado }}
    </br>
    <input type="submit" value="agregar" />
</form>
<form  method="POST">
    {% csrf_token %}
    <input type="hidden" name="tipo" value="materia">
    {{ form_materia }}
    </br>
    <input type="submit" value="agregar" />
</form>
{%endblock body%}

{% block javascript %}
<script type="application/javascript">
    try {
        $(document).ready(function() {
            $('#tabla_materias').DataTable({
                "processing": true,
                "responsive": true,
                "language": {
                    {% load static %}
                    "url": "{% static 'json/table_es.json' %}"
                },
                ajax: {
                    url: '{% url 'materias_ajax' %}',
                    type: 'POST',
                    dataSrc: '',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                },
                columns: [
                    {data: 'id'},
                    {data: 'nombre'},
                    {data: 'grado'},
                    {data: 'activo'},
                    {data: 'id'}
                ],
                columnDefs: [{
                    targets: [-1],
                    class: 'text-center',
                    orderable: false,
                    render: function(data, type, row) {
                        return '<a href="' + data + '" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>'+
                                '<a href="' + data + '" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>';
                    }
                },
                {
                    targets: [-2],
                    class: 'text-center',
                    orderable: false,
                    render: function(data, type, row) {
                        if(data == true){
                            return '<span class="badge badge-success">Activo</span>';
                        }else{
                            return '<span class="badge badge-danger">Inactivo</span>';
                        }
                    }
                }]
            });
        });// */
        $(document).ready(function() {
            $('#tabla_grados').DataTable({
                "processing": true,
                "responsive": true,
                "language": {
                    {% load static %}
                    "url": "{% static 'json/table_es.json' %}"
                },
                ajax: {
                    url: '{% url 'grados_ajax' %}',
                    type: 'POST',
                    dataSrc: '',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                },
                columns: [
                    {data: 'id'},
                    {data: 'nombre'},
                    {data: 'alias'},
                    {data: 'activo'},
                    {data: 'id'}
                ],
                columnDefs: [{
                    targets: [-1],
                    class: 'text-center',
                    orderable: false,
                    render: function(data, type, row) {
                        return '<a href="' + data + '" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>'+
                                '<a href="' + data + '" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>';
                    }
                },
                {
                    targets: [-2],
                    class: 'text-center',
                    orderable: false,
                    render: function(data, type, row) {
                        if(data == true){
                            return '<span class="badge badge-success">Activo</span>';
                        }else{
                            return '<span class="badge badge-danger">Inactivo</span>';
                        }
                    }
                }]
            });
        });// */
    } catch (error) {
        console.log(error);
    }
    $(document).ready(function() {
        $.ajax({
            url: '{% url 'materias_ajax' %}',
            type: 'POST',
            dataSrc: '',
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }
        })
        .done(function(data) {
            console.log("success");
            console.log(data);
        })
    });

</script>
{% endblock javascript %}